Options -Indexes
RewriteEngine On
RewriteCond %{HTTPS} off

RewriteRule ^index$ index.php [L]
RewriteRule ^login$ login.php [L]
RewriteRule ^signup$ signup.php [L]

ErrorDocument 404 /404.html

<FilesMatch "\.(css|js|json|jpg|jpeg|png|svg|gif|mp4|webp|webm|woff|woff2|ttf|otf)$">
    Header set Cache-Control "max-age=31536000, public"
</FilesMatch>